﻿@inherits LayoutComponentBase
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">
            <AuthorizeView>
                Hello, @User.FirstName @User.LastName!
            </AuthorizeView>
        </a>
    </div>

    <div class="content px-4">
        <CascadingValue Value="@User">
            @Body
        </CascadingValue>        
    </div>
</div>

@code{

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private Grpc.Api.Shared.Entities.User User;

    protected override async Task OnInitializedAsync()
    {
        var auth = await authenticationStateTask;

        if (auth.User?.Identity?.IsAuthenticated ?? false)
        {            
            this.User = auth.User.GetUser();
        }
    }
}
