﻿@namespace ComponentLibrary.Templates

@inject IJSRuntime jsRuntime

<div class="modal fade" id="@Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-@this.Size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Content
            </div>
            <div class="modal-footer">
                @if (this.ShowCancel)
                {
                    <button type="button" class="btn btn-secondary" @onclick="() => Cancel()" data-dismiss="modal">@this.CancelText</button>
                }
                <button type="button" @onclick="() => Ok()" class="btn btn-primary">@this.OkText</button>
            </div>
        </div>
    </div>
</div>

