﻿@typeparam T
@namespace ComponentLibrary.Templates

<div class="col-12">
    <div class="btn-toolbar mb-3" role="toolbar">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">@TotalRecords items</button>
            <button type="button" class="btn btn-secondary" @onclick="() => First()">&lt;&lt;</button>
            <button type="button" class="btn btn-secondary" @onclick="() => PreviousPage()">&lt;</button>
            <button type="button" class="btn btn-secondary">Page @_tableTemplateProperties.PageNumber of @_tableTemplateProperties.TotalPages</button>
            <button type="button" class="btn btn-secondary" @onclick="() => NextPage()">&gt;</button>
            <button type="button" class="btn btn-secondary" @onclick="() => Last()">&gt;&gt;</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @_tableTemplateProperties.PageSize
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <button class="dropdown-item" @onclick="() => PageResize(10)">10</button>
                    <button class="dropdown-item" @onclick="() => PageResize(20)">20</button>
                    <button class="dropdown-item" @onclick="() => PageResize(30)">30</button>
                    <button class="dropdown-item" @onclick="() => PageResize(40)">40</button>
                    <button class="dropdown-item" @onclick="() => PageResize(50)">50</button>
                </div>
            </div>
        </div>
    </div>
    <table class="col-12 table table-striped table-hover">
        <thead>
            <tr>@TableHeader</tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>@RowTemplate(item)</tr>
            }
        </tbody>
    </table>
    <div class="btn-toolbar mb-3" role="toolbar">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">@TotalRecords items</button>
            <button type="button" class="btn btn-secondary" @onclick="() => First()">&lt;&lt;</button>
            <button type="button" class="btn btn-secondary" @onclick="() => PreviousPage()">&lt;</button>
            <button type="button" class="btn btn-secondary">Page @_tableTemplateProperties.PageNumber of @_tableTemplateProperties.TotalPages</button>
            <button type="button" class="btn btn-secondary" @onclick="() => NextPage()">&gt;</button>
            <button type="button" class="btn btn-secondary" @onclick="() => Last()">&gt;&gt;</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @_tableTemplateProperties.PageSize
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <button class="dropdown-item" @onclick="() => PageResize(10)">10</button>
                    <button class="dropdown-item" @onclick="() => PageResize(20)">20</button>
                    <button class="dropdown-item" @onclick="() => PageResize(30)">30</button>
                    <button class="dropdown-item" @onclick="() => PageResize(40)">40</button>
                    <button class="dropdown-item" @onclick="() => PageResize(50)">50</button>
                </div>
            </div>
        </div>
    </div>
</div>
