@page "/fetchdata"
@using Grpc.Api.Shared.Contracts;
@using Microsoft.AspNetCore.Authorization;
@inject IUserService UserService
@attribute [Authorize]

@layout MainLayout

@if (_user != null)
{
    <p1>Hello @_user.Username</p1>
}

<button @onclick="GetData">Get Data Test</button>
@code {

    private Grpc.Api.Shared.Entities.User _user;

    private async Task GetData()
    {
        try
        {
            _user = await UserService.GetAll();
        }
        catch (Grpc.Core.RpcException ex)
        {
            throw;
        }
    }
}
