﻿@page "/"

@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.PieChart
@using ChartJs.Blazor.ChartJS.LineChart
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.Util
@using Grpc.Api.Shared.Entities;

@attribute [Authorize]

<h1>Check out some components, they're cool</h1>

@if (User == null)
{
    <p>Loading...</p>
}
else
{
    <p>Here can I access the user through cascading params. Hello @User.Username</p>
}

@code{
    private PieConfig _pieConfig;
    private LineConfig _lineConfig;
    private ChartJsPieChart _pieChartJs;
    private ChartJsLineChart _lineChart;

    private IEnumerable<KeyValuePair<string, object>> Attr { get; set; }

    [CascadingParameter] User User { get; set; }

    protected override void OnInitialized()
    {
        SetPieChart();
        SetLineChart();
    }

    private void SetPieChart()
    {
        _pieConfig = new PieConfig
        {
            Options = new PieOptions
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "KPI's"
                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                }
            }
        };

        _pieConfig.Data.Labels.AddRange(new[] { "Test Drives", "Sales", "Lost Opp" });

        var pieSet = new PieDataset
        {
            BackgroundColor = new[] { ColorUtil.FromDrawingColor(System.Drawing.Color.Orange), ColorUtil.FromDrawingColor(System.Drawing.Color.Green), ColorUtil.FromDrawingColor(System.Drawing.Color.Red) },
            BorderWidth = 0,
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        pieSet.Data.AddRange(new double[] { 50, 30, 20 });
        _pieConfig.Data.Datasets.Add(pieSet);
    }

    private void SetLineChart()
    {
        _lineConfig = new LineConfig
        {
            Options = new LineOptions
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Sales over time"
                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                }
            }
        };

        var data = new LineDataset<ChartJs.Blazor.ChartJS.Common.Time.TimeTuple<int>>
        {
            BackgroundColor = ColorUtil.FromDrawingColor(System.Drawing.Color.White),
            BorderColor = ColorUtil.FromDrawingColor(System.Drawing.Color.Red),
            Label = "Sales per Day",
            Fill = false,
            BorderWidth = 2,
            PointRadius = 2,
            PointBorderWidth = 2,
            Hidden = false
        };

        data.AddRange(RandomData());

        _lineConfig.Data.Datasets.Add(data);
    }

    private List<ChartJs.Blazor.ChartJS.Common.Time.TimeTuple<int>> RandomData()
    {

        var data = new List<ChartJs.Blazor.ChartJS.Common.Time.TimeTuple<int>>();

        var iterations = 7;

        var random = new Random();

        for (var x = 0; x < iterations; x++)
        {
            var date = new ChartJs.Blazor.ChartJS.Common.Time.Moment(DateTime.UtcNow.Date.AddDays(-x));
            var sales = random.Next(0, 20);
            data.Add(new ChartJs.Blazor.ChartJS.Common.Time.TimeTuple<int>(date, sales));
        }

        return data;
    }

}