﻿@layout LoginLayout
@using AuthenticationStateProvider;
@using Api.Shared.Models;
@inject HttpClient Http
@inject TokenAuthenticationStateProvider AuthStateProvider
@inject Grpc.Api.Shared.Contracts.IAuthoriseService _authoriseService

<div class="container">
    @if (loginFailure)
    {
        <div class="alert alert-danger">Your credentials did not work. Please try again.</div>
    }
    <div class="row h-100">
        <div class="col-6 offset-3 my-auto">
            <div class="card card-block">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <EditForm @ref="loginform" Model="credentials" OnValidSubmit="SubmitCredentials">
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <label>Username</label>
                            <InputText class="form-control" @bind-Value="credentials.Username" />
                            <ValidationMessage For="@(()=> credentials.Username)" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <InputText type="password" class="form-control" @bind-Value="credentials.Password" />
                            <ValidationMessage For="@(()=> credentials.Password)" />
                        </div>
                        <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
                    </EditForm>
                </div>
            </div>
        </div>        
    </div>

</div>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    AuthenticateRequest credentials = new AuthenticateRequest();
    bool loginFailure;

    EditForm loginform { get; set; }

    async Task SubmitCredentials()
    {
        try
        {
            var response = await this._authoriseService.Authenticate(credentials);

            await AuthStateProvider.SetTokenAsync(new Token(response.Token, response.RefreshToken, response.Expiry));

            StateHasChanged();
        }
        catch (Exception)
        {
            loginFailure = true;
        }
    }
}