﻿@page "/popups"

@layout MainLayout

<h3>Popup Template Example</h3>

<div class="row">
    <div class="col-md-12">
        @Message
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" @onclick="ShowSmallPopup">Small Modal</button>
            <button type="button" class="btn btn-primary" @onclick="ShowMediumPopup">Medium Modal</button>
            <button type="button" class="btn btn-primary" @onclick="ShowLargePopup">Large Modal</button>
        </div>

    </div>
</div>

<PopupTemplate CancelText="Cancel" OkText="Save" PopupSize="PopupSize.SMALL" OnOk="PopupOkCallback" OnCancel="PopupCancelCallback" Title="Small popup example" @ref="SmallPopup" >
    <Content>
        <p>This an example of a small modal</p>
    </Content>
</PopupTemplate>

<PopupTemplate CancelText="Exit" OkText="Ok" PopupSize="PopupSize.MEDIUM" OnOk="PopupOkCallback" OnCancel="PopupCancelCallback" Title="Medium popup example" @ref="MediumPopup">
    <Content>
        <p>This an example of a medium modal</p>
    </Content>
</PopupTemplate>

<PopupTemplate CancelText="Cancel" OkText="Save" PopupSize="PopupSize.LARGE" OnOk="PopupOkCallback" OnCancel="PopupCancelCallback" Title="Large popup example" @ref="LargePopup">
    <Content>
        <p>This an example of a large modal</p>
    </Content>
</PopupTemplate>

@code {
    private string Message { get; set; }

    private PopupTemplate SmallPopup;
    private PopupTemplate MediumPopup;
    private PopupTemplate LargePopup;

    private async Task ShowSmallPopup()
    {
        await SmallPopup.Show();
    }

    private async Task ShowMediumPopup()
    {
        await MediumPopup.Show();
    }

    private async Task ShowLargePopup()
    {
        await LargePopup.Show();
    }

    private async Task PopupOkCallback()
    {
        Message = "Ok event!";

        await Task.CompletedTask;
    }

    private async Task PopupCancelCallback()
    {
        Message = "Cancel event!";

        await Task.CompletedTask;
    }
}
