﻿@page "/tables"

@using Grpc.Api.Shared.Entities
@using ComponentLibrary.Templates
@using ComponentLibrary.Models
@using System.Linq
@layout MainLayout

<h3>Table!</h3>

<div class="row mb-3">
    <div class="col-12">
        <button type="button" class="btn btn-primary" @onclick="GenerateData">Generate</button>
    </div>
</div>

@if (Pets != null)
{
    <div class="row">
        @*give it a ref and we can access the components methods from here!*@
        <TableTemplate Items="Pets" T="Pet" TotalRecords="PetsBase.Count" PageSize="PageSize" OnPaginate="OnPaginate" @ref="PetTable">
            <TableHeader>
                <th>ID</th>
                <th>Name</th>
            </TableHeader>
            <RowTemplate Context="Pet">
                <td>@Pet.PetId</td>
                <td>@Pet.Name</td>
            </RowTemplate>
        </TableTemplate>
    </div>
}

@code {
    private IEnumerable<Pet> Pets { get; set; }

    //this is here to demonstrate pagination with table component - in reality
    private IReadOnlyList<Pet> PetsBase { get; set; }

    private TableTemplate<Pet> PetTable;

    private int PageSize = 10;

    private async Task GenerateData()
    {
        var pets = new List<Pet>();

        for (var t = 1; t < 100; t++)
        {
            pets.Add(new Pet { PetId = t.ToString(), Name = GenerateRandomString() });
        }

        PetsBase = pets;

        Pets = pets.Take(PageSize).ToList();

        if (this.PetTable != null)
        {
            await this.PetTable.SetToFirstPage();
        }

        await Task.CompletedTask;
    }

    private async Task OnPaginate(TableTemplateProperties tableTemplateProperties)
    {
        //somebody clicked next, previous or changed the page size
        //you can access the properties here and do whatever it is you need to do
        //make another API call for example to get the next set of items

        PageSize = tableTemplateProperties.PageSize;

        Pets = PetsBase.ToList().GetRange(tableTemplateProperties.Offset, tableTemplateProperties.Limit);

        await Task.CompletedTask;
    }

    private string GenerateRandomString()
    {
        var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        var stringChars = new char[8];
        var random = new Random();

        for (int i = 0; i < stringChars.Length; i++)
        {
            stringChars[i] = chars[random.Next(chars.Length)];
        }

        return new String(stringChars);
    }
}
